.flat-slider .sub-heading {
  margin-top: 0;
}
.mainslider.home .image img.img-bg {
  width: 70%;
  top: 7%;
  right: 10%;
}

.mainslider.home .image img.img-main-slider {
  width: 57%;
  margin-right: 40px;
}
.content-bottom-left {
  margin-top: 130px;
  color: #ebebeb;
}
.bt-title-top.heading {
  font-size: 36px;
}
.sub-desc.sub-heading {
  font-size: 15px;
  margin-top: 10px;
}
.sub-desc {
  font-size: 16px;
  margin-top: 5px;
  line-height: 1.3;
}
.content-bottom-right {
  position: absolute;
  right: 0;
  left: 10%;
  color: #ebebeb;
  margin-top: 10px;
  text-align: left;
  line-height: 1.3;
}
.bt-title-top.heading {
  transition-delay: 2000ms;
}

.sub-desc.sub-heading {
  transition-delay: 2000ms;
}
.row-content .sub-title {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.bor {
  margin-top: 20px;
  width: 100%;
  height: 5px;
  border-bottom: 2px solid #fff;
}
