/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* header */
  .main-nav {
    left: 50%;
  }
  /* main slider */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* header */
  .main-nav {
    left: 40%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 991px) and (min-width: 768px) {
  /* main slider */
  .content {
    text-align: left;
  }
  .mainslider.home .image img.img-main-slider {
    width: 100%;
  }
  .content-bottom-left {
    width: 80%;
  }
  .content-bottom-right {
    position: relative;
    width: 100%;
    margin-right: 160px;
  }
  .row-content {
    display: flex;
  }
  .row-content .item {
    margin-top: 20px;
  }
  .title-slider-bt {
    font-size: 28px;
  }
  .flat-bt-slider .sc-button {
    padding: 8px 25px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 767px) and (min-width: 600px) {
  .content-bottom-left {
    margin-top: 50px;
  }
  .content {
    text-align: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
  }
  .mainslider .flat-slider .heading {
    font-size: 42px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content-bottom-left {
    margin-top: 30px;
  }

  .mainslider.home .wrap-heading .content {
    padding-top: 50px;
    padding-right: 20px;
  }
  .mainslider .flat-slider .heading {
    font-size: 32px;
  }
  .sub-desc.sub-heading {
    line-height: 1.2;
    text-align: justify;
    width: 90%;
  }
  .flat-bt-slider .sc-button {
    padding: 8px 20px;
  }
  .mainslider.home .flat-slider {
    padding: 0;
  }
  .sub-desc.sub-heading {
    line-height: 1.2;
    text-align: justify;
  }
}
